body{
    background: linear-gradient(to right,#a5fecb,#20bdff,#5433ff);
}

.main{
    height: 60vh;
    display:flex;
    flex-flow: row wrap;
    
}

.box{
    margin: 40px;
    
}

.box div{
    width: 170px;
    height: 240px;

}

.box div img{
    width: 90%;
    height: 90%;
    margin: 5px;
    border-radius: 15px;
    
}



.box p{
    position:relative;
    left: 80%;
    font-family: cursive;
    font-size: 20px;
    transform: translate(-70%, 10px);
    
    
}

button {
    background-color: #53caee;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: .25px;
    line-height: normal;
    padding: 10px 55px;
    transition: background box-shadow 280ms ease;
}
   
button:hover {
    background: #F6F9FE;
    color: #194997;
}
   
button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    border: 2px solid #4285f4;
}

#topMenu {
    display: flex;
    margin: 0;
    

}

#topMenu li {
    color: rgb(5, 5, 5);
    text-decoration: none;
    display: block;
    padding: 20px;
    
}

#topMenu li:first-child {
    margin-right: auto;
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin: 5% 10% 5% 15%;
}



